* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ;
    background-color: palevioletred;
    color: #f3f3f3;
}

.myPic {
    margin: 40px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid ghostwhite;
}

.fullName {
    padding-top: 100px;
    font-size: 60px;
}

.contacts {
    padding-top: 300px;
}

section {
    margin: 50px;
}

h1 {
    color: palevioletred;
}
